header {
    text-align: center;
    font-size: 20px;
    color: red;
    font-weight: bold;
    font-style: italic;
  }

  .first {
      color: yellow;
  }

   #firstid {
       color: green;
   }

   .second {
       color: blue;
   }